# Your MongoDB connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/leadengine?retryWrites=true&w=majority

# The port your server will run on (Default 5000)
PORT=5000

# Hardcoded Admin credentials for the dashboard
ADMIN_USER=admin
ADMIN_PASS=admin123
